Flask
Authlib
python-dotenv
requests

langgraph
langchain
langchain-core
langchain-community

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

pydantic

google-genai
langchain-google-genai